<!doctype html>
<html class="theme-dark theme-font">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SCH DISE Market</title>
    <!---->
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/controls.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<div class="navbar">
    <div class="navbar-content">
        <a class="navbar-item-title secu-title-s" href="/">
            SCH DISE Market
        </a>
        <div class="navbar-item">
            <a class="navbar-link" href="/board">Board</a>
        </div>
        <div class="navbar-item">
            <a class="navbar-link" href="/types">SEARCH</a>
        </div>
        <div class="navbar-item navbar-item-profile">
            <a class="navbar-link navbar-link-active" href="/write">WRITE</a>
        </div>
        <div class="navbar-item">
            <a class="navbar-link" href="/profile">PROFILE</a>
        </div>
        <div class="navbar-item">
            <a class="navbar-link" href="/logout">LOGOUT</a>
        </div>
    </div>
</div>
<div id="ingame-root">
    <div class="write-content">
        <div class="notice-main-container">
            <div class="notice-main-item">
                <div class="notice-main-title">
                    EXCHANGE
                </div>
            </div>
            <br>
            <form class="join-form" action="/board/detail/<%= current %>/exchange" method="POST">
                <br><br>
                <% for (let i = 0; i < data.length; i++) { %>
                    <div class="goods-add-type">
                        <div>
                            <input class="radio-def" type="radio" name="goodsuid" value="<%= data[i].goodsuid %>">
                            <label for="<%= data[i].goodsuid %>"><%= data[i].gname %> &nbsp-</label>
                            <a style="text-decoration: none; color: var(--color-primary-45); font-size: 20px;" href="/goods/delete/<%=data[i].goodsuid%>">&nbsp삭제하기</a>
                        </div>
                    </div>
                    <br><br>
                <% } %><br>
                <div class="challenge-detail-submit-item">
                    <div class="challenge-detail-submit-item-button">
                        <button class="button-primary-tile">교환하기</button>
                    </div>
                </div>
            </form>
            <div class="challenge-detail-submit-item">
                <form action="/goods">
                    <div class="challenge-detail-submit-item-button">
                        <p style="text-align: center;">교환할 물건을 선택해주세요!</p>
                        <p style="text-align: center;">만약 선택할 물건이 없다면?</p><br>
                        <button class="button-primary-tile">물건 추가하기</button>
                    </div>
                    <br><br><br><br><br><br><br>
                </form>
            </div>
        </div>
    </div>
</div>